{% extends 'AppVibesU/base.html' %}
{% load static %}

{% block content %}
<div class="title__container bg-gradient-primary-to-secondary">
    <h1>Artists</h1>
    <p>List of available artists</p>
</div>

  <!-- artists card gallery -->
  <div class="cards__container bg-gradient-primary-to-secondary">
    {% for artist in artist_list %}
    <div class="card">
      <div class="card__image">
        <img src="{{artist.image}}" alt="{{ artist.name }}">
      </div>
      <div class="card__info">
        <h3>{{ artist.name }}</h3>
        <h4>{{ artist.genre }}</h4>
       {% if artist.is_verified == True %}
        <h6><img class="verified_icon" src="https://res.cloudinary.com/ijac-it-solutions/image/upload/v1691899097/img/verified_xxule0.png" alt="verified"></h6>
        {% else %}
        <h6><img class="not_verified_icon" src="https://res.cloudinary.com/ijac-it-solutions/image/upload/v1691899097/img/verified_xxule0.png" alt="verified"></h6>
        {% endif %}
        {% if artist.is_favorite == True %}
        <h6><img class="favorite_icon" src="https://res.cloudinary.com/ijac-it-solutions/image/upload/v1691899705/img/heart_gojf0y.png" alt="favorite song"></h6>
        {% else %}
        <h6><img class="not_favorite_icon" src="https://res.cloudinary.com/ijac-it-solutions/image/upload/v1691899869/img/not_heart_pilcxr.png" alt="not favorite song"></h6>
        {% endif %}
      </div> 
      <div class="crud__container">
        <a href="{% url 'update_artist' artist.id %}"><h6><img class="favorite_icon icon_crud" src="https://res.cloudinary.com/ijac-it-solutions/image/upload/v1692140361/img/pen-to-square-solid_gi2xbc.svg" alt="edit artist"></h6></a>
        <a href="{% url 'delete_artist' artist.id %}"> <h6><img class="favorite_icon icon_crud" src="https://res.cloudinary.com/ijac-it-solutions/image/upload/v1692140356/img/trash-solid_j9fa8v.svg" alt="delete artist"></h6></a>     
      </div>
    </div>
    {% endfor %}

  </div>



{% endblock %}