{% extends 'AppVibesU/base.html' %}
{% load static %}

{% block content %}
<div class="add__title__container title__container bg-gradient-primary-to-secondary">
    <h1>Artists</h1>
    <p>Add new</p>
    <a href="{% url 'create_artist' %}"><img class="add_icon" src="https://res.cloudinary.com/ijac-it-solutions/image/upload/v1692193809/plus_vmj3qb.png" alt="add artist"></a>
</div>

  <!-- artists card gallery -->
  <div class="cards__container bg-gradient-primary-to-secondary">
    {% for artist in artist_list %}
    <div data-aos="zoom-out-up" class="card">
      <div class="card__image">
        <!-- If artist.link_address_image == '' or artist.link_address_image == null, set default image  -->
        {% if artist.link_address_image == '' or artist.link_address_image == null %}
        <img src="https://img.freepik.com/premium-vector/default-image-icon-vector-missing-picture-page-website-design-mobile-app-no-photo-available_87543-11093.jpg" alt="{{ artist.name }}">
        {% else %}
        <img src="{{artist.link_address_image}}" alt="{{ artist.name }}">
        {% endif %}
      </div>
      <div class="card__info">
        <h3>{{ artist.name }}</h3>
        <h4>{{ artist.genre }}</h4>
       {% if artist.is_verified == True %}
        <h6><img class="verified_icon" src="https://res.cloudinary.com/ijac-it-solutions/image/upload/v1691899097/img/verified_xxule0.png" alt="verified"></h6>
        {% else %}
        <h6><img class="not_verified_icon" src="https://res.cloudinary.com/ijac-it-solutions/image/upload/v1691899097/img/verified_xxule0.png" alt="verified"></h6>
        {% endif %}
        {% if artist.is_favorite == True %}
        <h6><img class="favorite_icon" src="https://res.cloudinary.com/ijac-it-solutions/image/upload/v1691899705/img/heart_gojf0y.png" alt="favorite song"></h6>
        {% else %}
        <h6><img class="not_favorite_icon" src="https://res.cloudinary.com/ijac-it-solutions/image/upload/v1691899869/img/not_heart_pilcxr.png" alt="not favorite song"></h6>
        {% endif %}
      </div> 
      <div class="crud__container">
        <a href="{% url 'update_artist' artist.id %}"><h6><img class="favorite_icon icon_crud__edit" src="https://res.cloudinary.com/ijac-it-solutions/image/upload/v1692150451/img/lapiz_1_eggczm.png" alt="edit artist"></h6></a>
        <a href="{% url 'delete_artist' artist.id %}"> <h6><img class="favorite_icon icon_crud" src="https://res.cloudinary.com/ijac-it-solutions/image/upload/v1692150688/img/delete_rzkpjr.png" alt="delete artist"></h6></a>     
      </div>
    </div>
    {% endfor %}

  </div>



{% endblock %}