{% extends 'AppVibesU/base.html' %}
{% load static %}

{% block content %}

<div class="title__container bg-gradient-primary-to-secondary title__container__delete">
    <h1>Podcasts</h1>
    <p>Confirm to delete podcast</p>
</div>
<div class="container__delete">
    <div class="form__container">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="text-center">
                <h4 class="delete__title">Do you really want to delete the selected podcast? <p class="delete__title_p">
                        {{ object }}</p>
                </h4>
            </div>
            <div class="text-center">
                <input type="submit" class="LoginBtn" value="confirm">
            </div>
        </form>
    </div>
</div>



{% endblock %}