{% extends 'AppVibesU/base.html' %}
{% load static %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="form__container">
  <form class="register__form form bg-gradient-primary-to-secondary" action="" method="post">
    {% csrf_token %}
    <div class="container__form__register__logo">
      <img class="vibesU_logo" src="https://res.cloudinary.com/ijac-it-solutions/image/upload/v1692211716/img/vibes_logo-removebg-preview_tuyjb7.png" alt="vibesU logo">
    </div>
    <h1>Register</h1>
    <table>
      {{ form.as_p }}
    </table>
    <button class="LoginBtn register__button" type="submit">Sign Up</button>
  </form>
</div>

{% endblock %}
