{% extends 'AppVibesU/base.html' %}
{% load static %}

{% block content %}
<div class="container__search__title bg-gradient-primary-to-secondary">
  <h1>Search Song</h1>
</div>
<div class=" form__container__search">
  <form class="form bg-gradient-primary-to-secondary form__search" action="/search_song" method="get">
    <div class="container__form__logo">
      <img class="vibesU_logo" src="https://res.cloudinary.com/ijac-it-solutions/image/upload/v1692211716/img/vibes_logo-removebg-preview_tuyjb7.png" alt="vibesU logo">
    </div>
    {% csrf_token %}
    <div class="search__container">
      <h4>Search: <input type="text" name="search" id="search"></h4>
      <input class="LoginBtn" type="submit" value="Search">
    </div> 
  </form>
</div>
   

{% endblock %}