{% extends 'AppVibesU/base.html' %}
{% load static %}

{% block content %}
<div class="add__title__container title__container bg-gradient-primary-to-secondary">
    <h1>Songs</h1>
    <p>Add new</p>
    <a href="{% url 'create_song' %}"><img class="add_icon" src="https://res.cloudinary.com/ijac-it-solutions/image/upload/v1692193809/plus_vmj3qb.png" alt="add artist"></a>
</div>

  <div class="cards__container bg-gradient-primary-to-secondary">
    {% for song in song_list %}
    <div data-aos="zoom-out-up" class="card">
      <div class="card__image">
        <img src="{{song.image}}" alt="{{ song.title }}">
      </div>
      <div class="card__info">
        <h3>{{ song.title }}</h3>
        <h4>{{ song.artist }}</h4>
        <h6>{{ song.album }}</h6>
        <h6>{{ song.length }}</h6>
      </div> 
      <div class="crud__container">
        <a href="{% url 'update_song' song.id %}"><h6><img class="favorite_icon icon_crud__edit" src="https://res.cloudinary.com/ijac-it-solutions/image/upload/v1692150451/img/lapiz_1_eggczm.png" alt="edit artist"></h6></a>
        <a href="{% url 'delete_song' song.id %}"> <h6><img class="favorite_icon icon_crud" src="https://res.cloudinary.com/ijac-it-solutions/image/upload/v1692150688/img/delete_rzkpjr.png" alt="delete artist"></h6></a>     
      </div>
    </div>
    {% endfor %}

  </div>



{% endblock %}